* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper {
    width: 1000px;
    height: auto;
    margin:auto;
}

.header {
    background-color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
}

nav {
    background-color: brown;
    height: 50px;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.asidesx::after {
    content: "";
    display: table;
    clear: both;
}

.barra {
    background-color: black;
    height: 600px;
    width: 25%;
    float: left;

}

.sx::after {
    content: "";
    display: table;
    clear: both;
}

.pages {
    background-color: orange;
    height: 200px;
    width: 100%;
    float: left;
}

.archives {
    background-color: violet;
    height: 200px;
    width: 100%;
    float: left;
}

.main {
    background-color: blue;
    width: 50%;
    height: 1000px;
    float: left;
}
